body { 
  font-family: Arial, sans-serif; 
  background-color: #f5f5f5; 
  margin: 0; 
  padding: 0; 
}


table { 
  width: 100%; 
  border-collapse: collapse; 
}


td { 
  padding: 8px; 
  text-align: center; 
  vertical-align: middle; 
  border: 1px solid #999; 
}


h1 { 
  color: #a2c4c9; 
  margin: 0; 
  text-align: center; 
}


h3 { 
  margin: 0; 
  font-weight: bold; 
}


table > tbody > tr:first-child td { 
  background-color: #f7c8ff; 
}


button { 
  padding: 10px 20px; 
  border: 2px solid #000; 
  border-radius: 5px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: 0.3s; 
}


table tr:nth-child(2) td a button { 
  background-color: #ffffff; 
  color: #000; 
}


table tr:nth-child(5) td button { 
  background-color: transparent; 
  color: #000; 
}


table tr:nth-child(6) td button { 
  background-color: #ffffff; 
  color: #000; 
}


button:hover { 
  transform: scale(1.05); 
}


table tr:nth-child(4) td table tr td { 
  background-color: #f7c8ff; 
}


table tr:nth-child(4) td table tr td:nth-child(4),
table tr:nth-child(4) td table tr td:nth-child(5),
table tr:nth-child(4) td table tr td:nth-child(6) { 
  background-color: #fff6ba; 
}


td a { 
  text-decoration: none; 
  color: #000; 
}


td a:hover { 
  text-decoration: underline; 
}


td[align="right"] { 
  font-size: 14px; 
  color: #000; 
  padding-right: 15px; 
}


@media (max-width: 1024px) { 
  table, td { 
    display: block; 
    width: 100%; 
  } 
  td img { 
    width: 90%; 
    height: auto; 
  } 
}
